{
  "extends": "airbnb-base",
  "rules": {
    "linebreak-style": "warn",
    "no-console": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_id"
        ]
      }
    ]
  }
}